.weather-panel {
  font-family: 'Vast Shadow', cursive;
}

.weather-panel .panel-heading {
  background: red;
}

.weather-panel .panel-heading span:first-child {
  font-size: 24px;
}

.weather-panel .panel-body {
  background: greenyellow;
}

.weather-panel #weather {
  padding: 15px;
  vertical-align: middle;

}

.weather-panel .temperature {
  font-size: 40px;
}
